.container {
    padding: 4rem;
    border-radius: 100px;
    background-color: rgba(255,255,255,0.9);
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.55);
    margin-top: 133px;
}
 h2{
margin-top:0;
}
body{
    margin:0;
    background-color: #f9f9f9;
    font-family: sans-serif;
    user-select: none;
    }
    .lbl-err{
    color:red;
    }