
    .py-2 {
      
        font-size: 20px;
        text-align: -webkit-center;
        /* margin-left: 20%; */
        /* margin-right: 20%; */
        padding-top: 1.5rem!important;
        background: aliceblue;
      
    }